<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-title>
      Weather app
    </ion-title> -->
    <div class="d-flex flex-row justify-content-around align-items-center">
      <ion-searchbar animated="true" (ionChange)="clearSearch($event)" (ionInput)="searchCities($event)" placeholder="Find place"></ion-searchbar>
      <ion-icon style="font-size: xx-large;" name="locate-outline" (click)="getLocction()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="w-100" *ngIf="cities?.length>0">
    <div class="position-absolute z-3 w-100" >
      <ion-item *ngFor="let item of cities" (click)="select_city(item)">
        <ion-label>{{item?.name}}</ion-label>
      </ion-item>
    </div>
  </div>
  
  


  <div class="main">
    <span class="city">{{resCurrent?.name}}</span>
    <span class="date" *ngIf="resCurrent">{{from_now(resCurrent?.dt)}}</span>

    <div class="icon">
      <!-- <img src="../../assets/2x.png" alt="weathericon" /> -->
      <img
        src="https://openweathermap.org/img/wn/{{resCurrent?.weather[0].icon}}@2x.png"
        alt="weathericon"
      />
    </div>

    <span class="description">{{resCurrent?.weather[0].main}}</span>
    <span class="temperature"
      >{{ (resCurrent?.main.temp / 10) | number: '1.0-0'}}°
    </span>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="day" *ngFor="let item of res?.list.slice(0, 4)">{{days(item.dt)}}</ion-col>
    </ion-row>
    <ion-row> 
      <ion-col class="icon-sm" *ngFor="let item of res?.list.slice(0, 4) ; let i = index ">
        <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png"/>
    </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
